.panelUser {
    flex: 0 0 20%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    z-index: 7;
}

.panelUserDetail {
    flex: 0 0 10%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

@media (max-width: 56.25em) {
    .panelUser {
        flex-direction: row-reverse;
        align-items: center;
        flex-basis: 18%;
        margin-bottom: 0;
    }

    .panelUserDetail {
        flex-direction: row-reverse;
        align-items: center;
        flex-basis: 10%;
        margin-bottom: 0;
    }
}

.panelLogo {
    height: 9rem;
    width: 9rem;
    margin: 1.2rem 7rem;
    filter: invert(49%) sepia(93%) saturate(7416%) hue-rotate(315deg) brightness(101%) contrast(106%);
}

.panelSideNav {
    font-size: 1.35rem;
    list-style: none;
}

@media (max-width: 56.25em) {
    .panelSideNav {
        display: flex;
        flex: 1;
        margin-top: 0;
    }
}

.panelSideNavItem {
    position: relative;
}

.panelSideNavItem:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media (max-width: 56.25em) {
    .panelSideNavItem:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (max-width: 56.25em) {
    .panelSideNavItem {
        flex: 1;
    }
}

.panelSideNavItem::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary-medium);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, backgroud-color 0.1s;
}

.panelSideNavItem:hover::before,
.panelSideNavItemActive::before {
    transform: scaleY(1);
    width: 100%;
}

.panelSideNavLink,
.panelSideNavLink:link,
.panelSideNavLink:visited {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: var(--font-size-normal);
    padding: 1.2rem 2rem;
    position: relative;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: none;
}

@media (max-width: 56.25em) {

    .panelSideNavLink,
    .panelSideNavLink:link,
    .panelSideNavLink:visited {
        font-size: 1.8rem;
        text-align: center;
        outline: none;
        padding: 2rem;
    }
}

@media only screen and (max-width: 37.5em) {

    .panelSideNavLink,
    .panelSideNavLink:link,
    .panelSideNavLink:visited {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        text-align: center;
        outline: none;
        padding: .6rem;
    }
}

.panelSideNavLink:active,
.panelSideNavActive {
    background-color: var(--color-primary-medium) !important;
}

.panelSideNavIcon {
    margin-right: 0.8rem;
    font-size: 1.6rem;
}

@media (max-width: 56.25em) {
    .panelSideNavIcon {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
}

.power {
    font-size: var(--font-size-normal);
    padding: 0 2rem;
    text-align: center;
}

@media (max-width: 56.25em) {
    .power {
        display: none;
    }
}

.dev:link,
.dev:visited {
    text-decoration: none;
    padding: 1.2rem;
    color: var(--color-white);
}

.isDetailText {
    font-size: var(--font-size-small);
}