.formGroup2 {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.formInput {
    width: 85%;
    font-size: 1.6rem;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0 100%);
    border: none;
    padding: 1.1rem 1.9rem;
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    transition: all ease-in-out 0.5s;
    border-radius: var(--border-radius-small);
    border-bottom: 0.3rem solid transparent;
}

@media only screen and (max-width: 37.5em) {
    .formInput {
        clip-path: none;
        width: 95%;
    }
}

.formInput:focus {
    box-shadow: var(--box-shadow-heavy);
    border-radius: 0.4rem;
    border-bottom: 0.3rem solid var(--color-primary);
}

.formInput:focus:invalid {
    border-radius: 0.4rem;
    border-bottom: 0.3rem solid var(--color-danger-light);
}

.formInput::-webkit-input-placeholder {
    color: var(--color-grey-dark-3);
}

.formLabel {
    display: block;
    font-size: var(--font-size-normal);
    position: relative;
    top: -6.8rem;
    padding-left: 1.9rem;
    z-index: 10000;
    transition: all .4s ease;
    color: var(--color-grey-dark-1);
}

.formInput:placeholder-shown+.formLabel {
    visibility: hidden;
    opacity: 0;
    transform: translateY(3.4rem);
}

.formLength4 {
    width: 90%;
}

.formLength5 {
    width: 100%;
}

.formLength1 {
    width: 60%;
}

.formLength2 {
    width: 70%;
}

.formLength3 {
    width: 80%;
}
