.secAuth {
    margin: 0 7rem;
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.login {
    background-image: linear-gradient(62deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 58%, rgba(199, 21, 133, 0.5) 58%);
    background-color: 'transparent';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: 0 15rem;
    flex: 0 0 80%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
}

.login::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 37.5em) {
    .login {
        background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../../res/img/bds-4.jpg);
    }
}

.loginForm {
    width: 54%;
    padding: 8rem 5rem;
    float: left;
}

@media only screen and (max-width: 37.5em) {
    .loginForm {
        width: 100%;
    }
}

.formGroup {
    margin-bottom: 5rem;
    display: flex;
    justify-content: flex-start;
}

.forgotContainer {}

.loginContainer {
    width: 46%;
    padding: 10rem 5rem;
    padding-top: 18rem;
    float: right;
    vertical-align: middle;
}

@media only screen and (max-width: 37.5em) {
    .loginContainer {
        width: 0%;
        display: none;
    }
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
}
