.eventButton {
    outline: none;
    text-decoration: none;
    font-size: var(--font-size-normal);
    background-color: var(--color-primary);
    border: none;
    padding: 0.8rem 3rem;
    color: #fff;
    min-width: 9rem;
    text-align: center;
    border-radius: var(--border-radius-small);
    transition: box-shadow ease-in 0.3s;
    cursor: pointer;
}

.eventButton:hover {
    box-shadow: var(--box-shadow-medium);
}

.eventButtonDelete {
    background-color: var(--color-danger);
}