.eventButton {
    outline: none;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #ff1493;
    border: none;
    padding: 0.8rem 3rem;
    color: #fff;
    min-width: 9rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: box-shadow ease-in 0.3s;
}

.eventButton:hover {
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.6);
}

.eventButtonDelete {
    background-color: red;
}