.secFooter {
    background-color: var(--color-primary);
    padding: 18rem 0 4rem 0;
    font-size: var(--font-size-normal);
}

.footerLogo {
    width: 26rem;
    height: auto;
}

.footerLogoBox {
    text-align: center;
    margin-bottom: 6rem;
    margin-top: -9rem;
}

.secContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
    flex-wrap: wrap-reverse;
}

.secSide {
    flex: 0 0 calc((100% - 4rem) / 2);
    text-align: left;
    margin-top: -8rem;
}

.subTitle {
    font-size: var(--font-size-normal);
    text-transform: uppercase;
    text-align: left;
    color: var(--color-white);
}


.footerList {
    list-style: none;
    padding: 1.7rem;
}


.footerItem {
    margin: .2rem 0;
}

.footerLink:link,
.footerLink:visited {
    padding: .3rem;
    text-decoration: none;
    display: inline-block;
    color: var(--color-grey-light-2);
    font-size: var(--font-size-normal);
    transition: all .4s ease;
}

.footerLink:link::after,
.footerLink:visited::after {
    content: "";
    display: table;
    clear: both;
}

.footerLink:hover {
    box-shadow: var(--box-shadow-light);
    color: var(--color-white);
    transform: scale(1.2) rotateZ(12deg);
}

.footerCreator {
    width: 80%;
    margin: auto;
}

.footerCreatorBox {
    width: 80%;
    height: 80%;
    margin: auto;
}


.footerImage {
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: top;
}

.footerDev:link,
.footerDev:visited {
    display: inline-block;
    padding: .3rem;
    padding-right: -3rem;
    text-decoration: none;
    color: var(--color-grey-light-3);
    font-size: var(--font-size-normal);
    transition: all .4s ease;
}

.footerDev:hover {
    background-color: #181717;
    box-shadow: var(--box-shadow-light);
    color: var(--color-grey-light-3);
    transform: scale(1.5) rotateZ(-12deg);
}

.footerContacts {
    margin: 0 auto;
    font-size: var(--font-size-extra-large);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerContactsRound {
    margin: auto 1.5rem;
}

.footerContactsRound,
.footerContactsRound a:link,
.footerContactsRound a:visited {
    text-decoration: none;
    color: var(--color-grey-light-3);
    padding: .4rem 0;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--color-white);
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.footerContactsRound a:hover,
.footerContactsRound a:active {
    color: var(--color-primary-light);
    background-color: var(--color-grey-light-3);
}

.footerIcons {
    font-size: var(--font-size-extra-large);
}

.footerLeft {
    width: 50%;
    margin: 2rem auto;
    float: left;
}

.footerRight {
    width: 50%;
    margin: 2rem auto;
    float: right;
}

.copyRight {
    text-align: center;
    margin-top: 4rem;
}

.admin {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 75em) {
    .secFooter {
        padding-bottom: 6rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .secFooter {
        margin-top: 5rem;
        padding-bottom: 4rem;
    }

    .footerLogo {
        width: 23rem;
    }

    .footerLogoBox {
        margin-bottom: 10rem;
        margin-top: -13rem;
    }

}

@media only screen and (max-width: 56.25em) {
    .footerList {
        padding: 1.6rem;
    }

    .footerLogo {
        width: 20rem;
    }

    .footerLogoBox {
        margin-bottom: 10rem;
        margin-top: -10rem;
    }
}

@media only screen and (max-width: 48em) {
    .secFooter {
        margin-top: 0;
        padding-top: 14rem;
    }

    .title {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .secFooter {
        margin-top: -5rem;
        padding-bottom: 15rem;
    }

    .footerCreator {
        width: 30%;
        height: 30%;
        margin: -7rem auto 2rem auto;
    }

    .footerContacts {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 27em) {
    .secFooter {
        margin-top: -5rem;
        padding-bottom: 1rem;
    }

    .title {
        font-size: 2.6rem;
    }

    .footerContacts {
        margin: auto 0;
        font-size: 2.5rem;
    }

    .footerCreator {
        width: 130%;
        /* height: 20rem; */
        margin: 2rem auto;
    }
}


/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */