.eventDetail {
    flex: 1;
    display: flex;
    padding: 0 1rem;
    overflow-y: auto;
    align-items: center;
    position: relative;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem;
    /* border: 1px solid red; */
}

.eventNoDetail {
   display: none;
   transition: all ease-in 0.3s;
}

.eventDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.eventDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-secondary-medium), 0.8);
    border-radius: var(--border-radius-large);
}

.eventDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}

.eventDetailImgContainer {
    width: 90%;
    display: flex;
    border-radius: 0.6rem;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--box-shadow-medium);
    position: relative;
    margin-top: 1.5rem;
}

.eventDetailImg {
    height: 25rem;
    width: 100%;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    margin: 0;
}

.eventDetailCountdown {
    position: absolute;
    background-color: var(--color-white);
    bottom: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    min-width: 18rem;
    padding: 0.3rem 0.2rem;
    border-radius: 0.4rem;
    box-shadow: var(--box-shadow-medium);
}


.eventDetailTitle {
    margin: 1.2rem 0;
    text-align: center;
    background-color: var(--color-white);
}

.eventDetails {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eventDescription {
    margin-top: 0.6rem;
    text-align: left;
}

.eventDescriptionList {
    margin-left: 2.3rem;
}

.eventDescriptionText {
    text-align: left;
    font-size: var(--font-size-normal);
}

.eventDetailDaysContainer {
    line-height: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.eventDetailDaysNumber {
    word-spacing: 1.3rem;
}

.eventDetailDaysText {

}

.eventDetailTimeContainer {
    line-height: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.eventDetailTimeNumber {
    word-spacing: 1rem;
}

.eventDetailTimeText {

}

.eventMoreDetails {
    outline: none;
    border: none;
    border-bottom: 0.2rem solid var(--color-primary-medium);
    padding: 0.2rem 0;
    background-color: var(--color-white);
    color: var(--color-primary-medium);
    font-weight: var(--font-weight-medium);
    width: 9rem;
    margin: 1.5rem 0;
    margin-left: 1.3rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.eventMoreDetails:hover {
    background-color: var(--color-primary-medium);
    color: var(--color-white);
}

.eventButtons {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}
