.cartTable {
    width: 96% !important;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
    border: 0.15rem solid #ddd;
    padding: 0.5rem;
    border-radius: 0.8rem;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
}

.cartTableHeader,
.cartTableHeaderData {
    background-color: #ff1493;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

.cartTableRow,
.cartTableData {
    font-size: 1.3rem;
    padding: 0.3rem;
    border-bottom: 0.1rem solid #ddd;
    color: #313030;
    cursor: pointer;
}

.cartTableRow:nth-child(odd) {
    background-color: #eee;
}

.cartTableRow:hover {
    background-color: #ddddddaa;
}

.cartTableHeader,
.cartTableHeaderData {
    padding: 0.9rem;
    border: 0.1rem solid #ddd;
}

.cartListBaker {
    margin: 1.2rem 1.4rem;
    align-self: flex-start;
    color: #313030;
}

.cartCoupon {
    border: 0.1rem solid #ddd;
    padding: 1.2rem;
}

.cartCouponInput {
    padding: 0.7rem;
    border: 0.2rem solid #ddd;
    outline: none;
    margin-right: 3rem;
    margin-left: -1rem;
    transition: all ease-in-out .8s;
    width: 14rem;
}

.cartCouponInput:focus {
    border: 0.2rem solid #bbc;
}

.cartButton {
    outline: none;
    background-color: #ff1493;
    padding: 0.7rem;
    margin-left: 1rem;
    width: 10rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    align-self: flex-end;
    box-shadow: 0 0 0rem 'transplant';
    transition: box-shadow ease-in 0.2s;
    cursor: pointer;
}

.cartButton:hover {
    box-shadow: 0 0.2rem 1rem rgba(90, 89, 89, 0.774);
}

.cartTableDataImage {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 1rem;
}

.cartTableImageContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border: none;
}

.cartSeparator:not(:last-child) {
    margin-bottom: 1rem;
    margin: 0 3rem;
    padding-bottom: 3rem;
    border-bottom-style: dotted;
    border-bottom-width: 0.2rem;
    border-bottom-color: #ff1493;
    display: flex;
    align-items: center;
    flex: 0 0 90%;
    flex-direction: column;
}

.cartSeparator:last-child {
    margin: 0 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    flex: 0 0 90%;
}
