.cartSeparator:not(:last-child) {
    margin-bottom: 1rem;
    margin: 0 2rem;
    padding-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-bottom-color: var(--color-primary);
    display: flex;
    align-items: center;
    flex: 0 0 95%;
    flex-direction: column;
}

.cartSeparator:last-child {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    flex: 0 0 95%;
}

.cartTable {
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
    border: 0.15rem solid var(--color-grey-light-3);
    padding: 0.5rem;
    border-radius: 0.8rem;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--box-shadow-medium);
}

.cartTableHeader,
.cartTableHeaderData {
    background-color: var(--color-primary);
    font-size: var(--font-size-normal);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
}

.cartTableRow,
.cartTableData {
    font-size: var(--font-size-normal);
    padding: 0.3rem;
    border-bottom: 0.1rem solid var(--color-grey-light-3);
    color: var(--color-primary);
    cursor: pointer;
}

.cartTableRow:nth-child(odd) {
    background-color: var(--color-grey-light-3);
}

.cartTableRow:hover {
    background-color: var(--color-grey-light-2);
}

.cartTableHeader,
.cartTableHeaderData {
    padding: 0.9rem;
    border: 0.1rem solid var(--color-grey-light-4);
}

.cartListBaker {
    margin: 1.2rem 1.4rem;
    align-self: flex-start;
    color: var(--color-primary);
    font-size: var(--font-size-medium);
}

.cartCoupon {
    border: 0.1rem solid var(--color-grey-light-4);
    padding: 1.2rem;
}

.cartCouponInput {
    padding: 0.7rem;
    border: 0.2rem solid var(--color-grey-light-4);
    border-radius: var(--border-radius-small);
    outline: none;
    margin-right: 3rem;
    margin-left: -1rem;
    transition: all ease-in-out .8s;
    width: 14rem;
    font-size: var(--font-size-normal);
}

.cartCouponInput:focus {
    border: 0.2rem solid var(--color-grey-light-4);
}

.cartButton {
    outline: none;
    background-color: var(--color-primary);
    padding: 0.7rem;
    margin-left: 1rem;
    width: 10rem;
    border: none;
    color: var(--color-white);
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius-small);
    align-self: flex-end;
    box-shadow: 0 0 0rem 'transplant';
    transition: box-shadow ease-in 0.2s;
    cursor: pointer;
}

.cartButton:hover {
    box-shadow: var(--box-shadow-heavy);
}

.cartTableDataImage {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 1rem;
    border-radius: var(--border-radius-round);
}

.cartTableImageContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    border: none;
}

.suspended {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--color-danger-medium);
}

.cartDelete {
    outline: none;
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--transparent-1);
    padding: 0.5rem;
    color: var(--color-white);
    margin: 0 0.8rem;
    margin-right: -4rem;
    margin-left: 2rem;
    font-size: 1.15rem;
    transition: all 0.4s ease-in-out;

    cursor: pointer;
}

.cartDelete:hover {
    box-shadow: var(--box-shadow-heavy);
}

.suspend {
    background-color: var(--color-danger-light);
}

.title {
    font-size: var(--font-size-medium);
    color: var(--color-primary-light);
}


@media only screen and (max-width: 27em) {
    .cartTable {
        width: 98%;
    }

    .cartCouponInput {
        width: 12rem;
    }

    .pastryName {
        max-width: 10rem;
        height: 2.5rem;
        overflow: hidden;
        text-align: left;
    }
}

@media only screen and (max-width: 48em) {
    .cartTableImageContainer {
        justify-content: flex-start;
    }

    .cartTableDataImage {
        margin-left: 0;
    }

    .cartTableData {
        border-bottom: 0 solid transparent;
        font-size: 1.6rem;
        text-align: left;
    }

    .cartTableRow:last-child .cartTableData {
        text-align: center !important;
    }

    .cartTableRow {
        height: 5rem;
        overflow-y: hidden;
        transition: all ease-in-out 0.5s;
    }

    .cartTableRow:last-child {
        height: 100% !important;
    }

    .cartTableRowShow {
        height: auto;
        transition: all ease-in-out 0.5s;
    }

    .cartTableRow:not(:last-child) td {
        padding-left: 50%;
    }

    .cartTableRow:not(:last-child) td:nth-of-type(1):before {
        content: "Product";

    }

    .cartTableRow:not(:last-child) td:nth-of-type(2):before {
        content: "Price";
    }

    .cartTableRow:not(:last-child) td:nth-of-type(3):before {
        content: "Discount";
    }

    .cartTableRow:not(:last-child) td:nth-of-type(4):before {
        content: "Quantity";
    }

    .cartTableRow:not(:last-child) td:nth-of-type(5):before {
        content: "Total";
    }
}