.pastriesListDetail {
    flex: 0 0 65%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    position: relative;
}

.pastriesList {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    transition: flex-basis ease-in 0.3s;
    position: relative;
}

.pastriesList::-webkit-scrollbar,
.pastriesListDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.pastriesList::-webkit-scrollbar-thumb,
.pastriesListDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-secondary), 0.8);
    border-radius: var(--border-radius-large);
}

.pastriesList::-webkit-scrollbar-track,
.pastriesListDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}

.pastryListImgContainer {
    width: 31.5rem;
    display: flex;
    height: 35rem;
    border-radius: var(--border-radius-small);
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
    box-shadow: var(--box-shadow-medium);
    position: relative;
}

.pastryListImg {
    height: 25rem;
    width: 100%;
    margin: 0;
}

.pastryListImgLogoContainer {
    position: absolute;
    background-color: var(--color-white);
    bottom: 5.4rem;
    right: 0.3rem;
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-medium);
}

.pastryListImgLogo {
    height: 3rem;
}

.pastryListTitle {
    margin: 1.2rem 0;
    background-color: var(--color-white);
}

.pastriesButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.8rem 0;
}

.pastriesButton {
    outline: none;
    background-color: var(--color-primary);
    border: none;
    padding: 1rem 3rem;
    color: var(--color-white);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    transition: box-shadow ease-in 0.3s;
}

.pastriesButton:hover {
    box-shadow: var(--box-shadow-medium);
}