.secSignup {
    margin: 0 7rem;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.signup {
    background-image: linear-gradient(62deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 57%, rgba(199, 21, 133, 0.5) 57%);
    background-color: 'transparent';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: 0 15rem;
    flex: 0 0 80%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
}

.signup::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 37.5em) {
    .signup {
        background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../../res/img/bds-4.jpg);
    }
}

.signupForm {
    width: 56%;
    padding: 5rem 5rem;
    float: left;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
    .signupForm {
        width: 100%;
    }
}

.formGroup {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: flex-start;
}

.signupContainer {
    width: 44%;
    padding: 10rem 5rem;
    padding-top: 18rem;
    float: right;
    vertical-align: middle;
}

@media only screen and (max-width: 37.5em) {
    .signupContainer {
        width: 0%;
        display: none;
    }
}

.formSelect {
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    text-align: left;
}


.title {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
}
