.card {
    perspective: 250rem;
    -moz-perspective: 250rem;
    width: 90%;
    height: 54rem;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.cardView {
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 2rem;
    transition: all .9s ease;
}

.cardViewFront {
    background-color: var(--color-white);
    overflow: hidden;
    z-index: 1;
}

.cardViewBack {
    transform: rotateY(180deg);
}

.cardViewBack1 {
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
}

.cardViewBack2 {
    background-image: linear-gradient(to right bottom, rgb(var(--color-mix-1)), rgb(var(--color-mix-11)));
}

.cardViewBack3 {
    background-image: linear-gradient(to right bottom, rgb(var(--color-mix-2)), rgb(var(--color-mix-21)));
}

.cardPic {
    height: 25rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.cardPic1 {
    background-image: linear-gradient(to right, rgba(var(--color-secondary-light), 0.7), rgba(var(--color-secondary-medium), 0.8));
    background-position: top;
    background-size: cover;
}

.cardPic2 {
    background-image: linear-gradient(to right, rgba(var(--color-mix-11), 0.8), rgba(var(--color-mix-12), 0.9));
    background-position: top;
    background-size: cover;
}

.cardPic3 {
    background-image: linear-gradient(to right, rgba(var(--color-mix-21), 0.7), rgba(var(--color-mix-22), 0.8));
    background-position: top;
    background-size: cover;
}

.cardImage {
    height: 25rem;
    width: 100%;
}

.cardList {
    width: 75%;
    list-style: none;
    font-size: var(--font-size-normal);
    margin: 0 auto;
    color: var(--color-primary);
}

.cardList1 li {
    padding: .5rem;
}

.cardList1 li:not(:last-child) {
    border-bottom: 0.2rem solid rgba(var(--color-secondary-medium), 0.7);
}

.cardList2 li {
    padding: .5rem;
}

.cardList2 li:not(:last-child) {
    border-bottom: 0.2rem solid rgba(var(--color-mix-1), 0.7);
}

.cardList3 li {
    padding: .5rem;
}

.cardList3 li:not(:last-child) {
    border-bottom: 0.2rem solid rgba(var(--color-mix-2), 0.7);
}

.cardJust {
    color: var(--color-white);
    font-size: var(--font-size-large);
}

@media (max-width: 56.25em) {
    .cardJust {
        font-size: .2rem;
    }
}

.cardPrice {
    color: var(--color-white);
    font-size: var(--font-size-big);
}

@media (max-width: 56.25em) {
    .cardPrice {
        font-size: 1rem;
    }
}

.cardHeading {
    padding: 2rem 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}

.cardHeading1 {
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-medium));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.cardHeading2 {
    background-image: linear-gradient(to right, rgb(var(--color-mix-1)), rgb(var(--color-mix-12)));
    -webkit-background-clip: text;
    background-clip: text;
    background-clip: text;
    color: transparent;
}

.cardHeading3 {
    background-image: linear-gradient(to right, rgb(var(--color-mix-2)), rgb(var(--color-mix-22)));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .card {
        height: auto;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 56.25em),
only screen and (hover: none) and (max-width: 56.25em) {
    .card {
        width: 105%;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 37.5em),
only screen and (hover: none) and (max-width: 37.5em) {
    .card {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 25.75em),
only screen and (hover: none) and (max-width: 25.75em) {
    .card {
        width: 75%;
    }
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .cardView {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 4px;
        transition: all .9s ease;
    }

    .cardViewFront {
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    }

    .cardViewBack {
        margin-top: -26%;
        height: auto;
        transform: none;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 37.5em),
only screen and (hover: none) and (max-width: 37.5em) {
    .cardViewBack {
        margin-top: -10%;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 25.75em),
only screen and (hover: none) and (max-width: 25.75em) {
    .cardViewBack {
        margin-top: -13%;
    }
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .cardJust {
        color: #fff;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 56.25em),
only screen and (hover: none) and (max-width: 56.25em) {
    .cardJust {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 37.5em),
only screen and (hover: none) and (max-width: 37.5em) {
    .cardJust {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .cardPrice {
        color: #fff;
        font-size: 4rem;
        margin-bottom: -5rem;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 56.25em),
only screen and (hover: none) and (max-width: 56.25em) {
    .cardPrice {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 56.25rem) and (max-width: 37.5em),
only screen and (hover: none) and (max-width: 37.5em) {
    .cardPrice {
        font-size: 2.9rem;
    }
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .cardHeading {
        padding: 2rem 0;
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .cardHeading1 {
        background-image: linear-gradient(to right, #c71585, #ff69b4);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .cardHeading2 {
        background-image: linear-gradient(to right, darkred, red);
        -webkit-background-clip: text;
        background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .cardHeading3 {
        background-image: linear-gradient(to right, #8b4513, #a0522d);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.card:hover .cardViewFront {
    transform: rotateY(-180deg);
    z-index: -1;
    left: -.007rem;
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .card:hover .cardViewFront {
        transform: none;
        z-index: 3;
        left: 0;
    }
}

.card:hover .cardViewBack {
    transform: rotateY(0);
}

.cardInfo {
    margin-top: 10rem;
    margin-bottom: 8rem;
    text-align: center;
}