.bakerSection {
    margin-top: 9rem;
}

.bakerLength {
    margin: 0 3rem;
    padding: 0 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    border-bottom: 0.2rem solid var(--color-primary-light);
}

.bakerLengthTitle {
    font-size: var(--font-size-extra-large);

}

.bakerScroll {
    display: flex;
    overflow: auto;
    width: 100rem;
    margin-left: 5rem;
    /* border: 0.2rem solid blue; */
}

.bakerScroll::-webkit-scrollbar {
    height: 0rem;
}




.bakerCat {
    padding: 0 2rem;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: nowrap;
    /* width: 100%; */
    /* border: 0.2rem solid teal; */
    /* overflow-x: auto; */

}

.bakerChoice {
    outline: none;
    border: none;
    margin: 0 1.5rem;
    font-size: var(--font-size-normal);
    color: var(--color-white);
    padding: 1.2rem 3rem;
    min-width: 16.4rem;
    max-width: none;
    background-color: var(--color-primary);
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-bold);
    transition: all ease-in-out 0.5s;

    cursor: pointer;
}

.bakerChoice:hover {
    box-shadow: var(--box-shadow-heavier);
}

.bakerChoice:first-child {
    background-color: var(--color-success-medium);
}