.cartDetail {
    flex: 0 0 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: auto;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
}

.cartNoDetail {
    display: none;
}

.cartDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: 2rem;
}

.cartDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(255, 20, 147, 0.8);
    border-radius: 2rem;
}

.cartDetail::-webkit-scrollbar-track {
    background-color: #ddd;
    margin: 18rem 0;
}

.cartDetailImgContainer {
    width: 90%;
    display: flex;
    border-radius: 0.6rem;
    overflow: hidden;
    justify-content: center;
    margin-top: 1.5rem;
    flex-direction: column;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.cartDetailImg {
    height: 25rem;
    width: 100%;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    margin: 0;
}

.cartDetailTitle {
    padding: 1.2rem 0;
    background-color: #fff;
}

.cartDetailActions {
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
}

.cartDetailActionButton {
    outline: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    color: #ff1493;
    font-size: 1.1rem;
    border: 0.2rem solid #ff1493;
    background-color: #fff;
    text-align: center;
    vertical-align: center;
    box-shadow: 0 0 0rem 'transplant';
    transition: box-shadow ease-in 0.2s, transform ease-in-out 0.3s;
    cursor: pointer;
}

.cartDetailActionButton:hover {
    box-shadow: 0 0.2rem 1rem rgba(90, 89, 89, 0.774);
}

.cartDetailActionButton:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.2rem 1rem rgba(90, 89, 89, 0.6);

}

.cartDetailQtyText {
    font-size: 1.4rem;
}

.cartDetails {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartDescription {
    margin-top: 0.6rem;
    text-align: left;
}

.cartDescriptionText {
    text-align: left;
    font-size: 1.2rem;
}