.cartDetail {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: auto;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
}

.cartNoDetail {
    display: none;
}

.cartDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.cartDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-secondary-medium), 0.8);
    border-radius: var(--border-radius-large);
}

.cartDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}

.cartDetailImgContainer {
    width: 90%;
    display: flex;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    justify-content: center;
    margin-top: 1.5rem;
    flex-direction: column;
    box-shadow: var(--box-shadow-light);
}

.cartDetailImg {
    height: 25rem;
    width: 100%;
    margin: 0;
}

.cartDetailTitle {
    padding: 1.2rem 0;
    background-color: var(--color-white);
    text-align: center;
}

.cartDetailActions {
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
}

.cartDetailActionButton {
    outline: none;
    height: 3rem;
    width: 3rem;
    border-radius: var(--border-radius-round);
    border: none;
    color: var(--color-primary);
    font-size: var(--font-size-small);
    border: 0.2rem solid var(--color-primary);
    background-color: var(--color-white);
    text-align: center;
    vertical-align: center;
    box-shadow: 0 0 0rem transparent;
    transition: box-shadow ease-in 0.2s, transform ease-in-out 0.3s;
    cursor: pointer;
}

.cartDetailActionButton:hover {
    box-shadow: var(--box-shadow-medium);
}

.cartDetailActionButton:active {
    transform: translateY(0.2rem);
    box-shadow: var(--box-shadow-light);

}

.cartDetailQtyText {
    font-size: var(--font-size-normal);
}

.cartDetails {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartDescription {
    margin-top: 0.6rem;
    text-align: left;
}

.cartDescriptionText {
    text-align: left;
    font-size: var(--font-size-small);
}