.secEditEvent {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.editEvent {
    background-image: linear-gradient(69deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 58%, rgba(199, 21, 133, 0.5) 58%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
    margin: 10rem 27rem;
    flex: 0 0 80%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
}

.editEvent::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 37.5em) {
    .editEvent {
        background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../../res/img/bds-4.jpg);
    }
}

.editEventForm {
    width: 54%;
    padding: 6rem 5rem;
    padding-bottom: 2rem;
    float: left;
}

@media only screen and (max-width: 37.5em) {
    .editEventForm {
        width: 100%;
    }
}

.editButtons {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 22rem;
    position: relative;
}

.editEventContainer {
    width: 46%;
    padding: 10rem 5rem;
    padding-top: 18rem;
    float: right;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 37.5em) {
    .editEventContainer {
        width: 0%;
        display: none;
    }
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
}
