.bakerDetail {
    flex: 1;
    display: flex;
    padding: 0 1rem;
    overflow-y: auto;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: center;
}

.bakerNoDetail {
    display:none;
}

.bakerDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.bakerDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-primary), 0.8);
    border-radius: var(--border-radius-large);
}

.bakerDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}

.bakerDetailImgContainer {
    width: 90%;
    display: flex;
    border-radius: var(--border-radius-small);
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--box-shadow-medium);
    position: relative;
}

.bakerDetailImg {
    height: 25rem;
    width: 100%;
    border-bottom-right-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
    margin: 0;
}

.bakerDetailImgLogoContainer {
    position: absolute;
    background-color: var(--color-white);
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-medium);
}

.bakerDetailImgLogo {
    height: 6rem;
    /* width: 6rem; */
}

.bakerDetailTitle {
    margin: 1.2rem 0;
    background-color: var(--color-white);
    text-align: center;
}

.bakerDetails {
    margin: 1rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bakerTitle {
    font-size: var(--font-size-large);
    color: var(--color-primary)
}

.bakerDescription {
    margin-top: 0.6rem;
    text-align: left;
    font-size: var(--font-size-medium);
    color: var(--color-grey-dark-2);

}

.bakerDescriptionList {
    margin-left: 2.3rem;
}

.bakerDescriptionText {
    text-align: left;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.bakerButtons {
    margin-top: -4rem;
    display: flex;
    justify-content: space-around;
}