.Panel {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 56.25em) {
    .Panel {
        flex-direction: column;
    }
}

@media (max-width: 50em) {
    .Panel {
        flex-direction: column;
    }
}