.infoCard {
    width: 20rem;
    box-shadow: var(--box-shadow-medium);
    border-radius: var(--border-radius-small);
    padding: 1rem;
    margin: 1rem;
}

.infoTitle {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
}

.infoStats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoNumber {
    font-size: var(--font-size-medium);
}

.infoIcon {
    font-size: var(--font-size-medium);
    color: var(--color-grey-light-4);
}

.infoRise {
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-success);
    letter-spacing: 0.1rem;
}
