.container__nav--item {
    display: inline-block;
    margin: 1.5rem 0;
    padding: 0;
    position: relative;
}

.container__nav--link:link,
.container__nav--link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2rem 0;
    padding: 1.8rem 1.2rem;
    text-transform: uppercase;
    color: #fff;
}

.container__nav--link::before,
.container__nav--active::before {
    content: "";
    display: block;
    height: .5rem;
    width: 100%;
    background-color: rgba(199, 21, 133, 0.8);
    position: absolute;
    bottom: -50%;
    width: 0%;
    transition: all ease-in-out 0.4s;
}

.container__nav--link:hover::before {
    width: 100%;
}

.container__nav--active::before {
    width: 100%;
}