.row {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.sec-description {
    background-color: #fff;
    padding: 18rem 0 12rem 0;
    margin-top: 0;
}

@media only screen and (max-width: 37.5em) {
    .sec-description {
        padding: 20rem 0 12rem 0;
    }
}

.margin-top-huge {
    margin-top: 13rem;
}

.txt-cnt {
    text-align: center;
}

  .title-lil-1 {
      font-size: 4rem;
      background-image: linear-gradient(to right, rgba(199, 21, 133, 0.8), rgba(139, 69, 19, 0.8));
      -webkit-background-clip: text;
      background-clip: text;
      text-transform: uppercase;
      color: transparent;
      font-weight: 700;
  }

  @media (max-width: 56.25em) {
      .title-lil-1 {
          font-size: 3.6rem;
      }
  }

  @media only screen and (max-width: 37.5em) {
      .title-lil-1 {
          font-size: 3.3rem;
      }
  }

  @media only screen and (max-width: 25.75em) {
      .title-lil-1 {
          font-size: 3rem;
      }
  }

.margin-bottom-medium {
    margin-bottom: 8rem;
}

.margin-top-medium-ve {
    margin-top: -8rem;
}
