.secDescription {
    background-color: #fff;
    padding: 18rem 0 12rem 0;
    margin-top: 0;
}

@media only screen and (max-width: 37.5em) {
    .secDescription {
        padding: 20rem 0 12rem 0;
    }
}

.btn-2 {
    transition: all .4s ease-in-out;
    color: #fff;
    padding: 1.2rem 3.5rem;
    margin: 2rem .5rem;
    border: none;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 10rem;
    width: 17rem;
    background-color: transparent;
}

.btn-2:link,
.btn-2:visited {
    text-decoration: none;
    padding: 1rem 3.5rem;
}

.btn-2:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-2:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn-2__icon {
    margin: auto -.8rem;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in;
}

@media only screen and (max-width: 56.25rem),
only screen and (hover: none) {
    .btn-2__icon {
        padding-left: 2.5rem;
        opacity: 1;
        visibility: visible;
    }
}

.btn-2__hover-icon:hover .btn-2__icon {
    padding-left: 2.5rem;
    opacity: 1;
    margin-left: -1.8rem;
    visibility: visible;
}

.margin-top-huge {
    margin-top: 13rem;
}

.title {
    font-size: 4rem;
    background-image: linear-gradient(to right, rgba(199, 21, 133, 0.8), rgba(139, 69, 19, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    font-weight: 700;
    text-align: center;
    margin-top: -8rem;
    margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
    .title {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .title {
        font-size: 3.3rem;
    }
}

@media only screen and (max-width: 25.75em) {
    .title {
        font-size: 3rem;
    }
}

.secContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-top: 13rem;
    margin-bottom: 8rem;
}