.panelUser {
    flex: 0 0 18%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}

.panelSideNav {
    font-size: 1.35rem;
    list-style: none;
}

.panelLogo {
    height: 9rem;
    width: 9rem;
    margin: 1.2rem 7rem;
}

.panelSideNavItem {
    position: relative;
}

.panelSideNavItem:not(:last-child) {
    margin-bottom: 0.5rem;
}

.panelSideNavItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary-medium);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, backgroud-color 0.1s;
}

.panelSideNavItem:hover::before,
.panelSideNavItemActive2::before {
    transform: scaleY(1);
    width: 100%;
}

.panelSideNavItem:active::before {
    background-color: var(--color-primary-medium);
}

.panelSideNavLink,
.panelSideNavLink:link,
.panelSideNavLink:visited {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.2rem 2rem;
    position: relative;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: none;
}

.panelSideNavActive {
    background-color: var(--color-primary-medium) !important;
}

.panelSideNavIcon {
    margin-right: 1rem;
}


.dev,
.dev:link,
.dev:visited {
    text-decoration: none;
    padding: 1.2rem;
    color: var(--color-white);
}

.power {
    font-size: var(--font-size-normal);
    padding: 0 2rem;
    text-align: center;
}

.isDetailText {
    font-size: var(--font-size-small);
}


@media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {
    .panelUser {
        flex-basis: 14%;
    }

    .panelLogo {
        margin: 2rem 4rem;
        width: 8rem;
        height: 8rem;
    }

    .isDetailText {
        font-size: 1.3rem;
    }

    .panelSideNavLink,
    .panelSideNavLink:link,
    .panelSideNavLink:visited {
        padding: 1.2rem 2.6rem;
    }

}

@media only screen and (max-width: 56.25em) {
    .panelUser {
        flex-basis: 10%;
    }

    .panelLogo {
        margin: 1.5rem 1rem;
        margin-bottom: 2.5rem;
        width: 7rem;
        height: 7rem;
    }

    .isDetailText {
        display: none;
    }

    .panelSideNavIcon {
        font-size: 2.3rem;
        margin-left: 1rem;
    }

    .power {
        display: none;
    }
}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 27em) {
    .panelUser {
        display: none;
    }
}