.panelSideNav {
    font-size: var(--font-size-normal);
    list-style: none;
    margin-top: 3rem;
}

@media (max-width: 56.25em) {
    .panelSideNav {
        display: flex;
        flex: 1;
        margin-top: 0;
    }
}

.panelLogo {
    height: 9rem;
    width: 9rem;
    margin: 1.2rem 7rem;
}

.panelSideNavItem {
    position: relative;
}

.panelSideNavItem:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media (max-width: 56.25em) {
    .panelSideNavItem:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (max-width: 56.25em) {
    .panelSideNavItem {
        flex: 1;
    }
}

.panelSideNavItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary-medium);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, backgroud-color 0.1s;
}

.panelSideNavItem:hover::before,
.panelSideNavItemActive2::before {
    transform: scaleY(1);
    width: 100%;
}

.panelSideNavItem:active::before {
    background-color: var(--color-primary-medium);
}

.panelSideNavLink,
.panelSideNavLink:link,
.panelSideNavLink:visited {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.2rem 3rem;
    position: relative;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}

@media (max-width: 56.25em) {

    .panelSideNavLink,
    .panelSideNavLink:link,
    .panelSideNavLink:visited {
        font-size: 1.8rem;
        text-align: center;
        outline: none;
        padding: 2rem;
    }
}

@media only screen and (max-width: 37.5em) {

    .panelSideNavLink,
    .panelSideNavLink:link,
    .panelSideNavLink:visited {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        text-align: center;
        outline: none;
        padding: .6rem;
    }
}

.panelSideNavActive {
    background-color: var(--color-primary-medium) !important;
}

.panelSideNavIcon {
    margin-right: 1rem;
}

@media (max-width: 56.25em) {
    .panelSideNavIcon {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
}

.panelUser {
    flex: 0 0 18%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}

.panelUser::-webkit-scrollbar {
    width: .37rem !important;
    background-color: #f1eeee;
}

.panelUser::-webkit-scrollbar-thumb {
    width: .37rem;
    background-color: var(--color-primary);
}

@media (max-width: 56.25em) {
    .panelUser {
        flex-direction: row-reverse;
        align-items: center;
        flex-basis: 6%;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 0;
    }
}

.dev,
.dev:link,
.dev:visited {
    text-decoration: none;
    padding: 1.2rem;
    color: var(--color-white);
}

.power {
    font-size: var(--font-size-normal);
    padding: 0 2rem;
    text-align: center;
}

@media (max-width: 56.25em) {
    .power {
        display: none;
    }
}