.panelEvent {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.panelEventDetail {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    position: relative;
}

@media (max-width: 50em) {
    .panelEvent {
        padding: 3rem 8rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .panelEvent {
        padding: 3rem 6rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .panelEvent {
        padding: 3rem 4rem;
    }
}

.panelEventHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8rem;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2rem 2rem;
    width: 100%;
    background-color: var(--color-white);
}