.bakerPosition {
    position: absolute;
    top: 10.6rem;
    left: -1rem;
    z-index: 6;
}

.fixedBaker {
    position: fixed;
    box-shadow: var(--box-shadow-medium);
    background-color: var(--color-white);
    padding: 0.2rem 0.5rem;
    font-size: var(--font-size-normal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-light);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);

    cursor: pointer;
}

.filterPosition {
    position: absolute;
    top: 14.6rem;
    left: -1rem;
    z-index: 6;
}

.fixedPosition {
    position: fixed;
    box-shadow: var(--box-shadow-medium);
    background-color: var(--color-white);
    padding: 0.2rem 0.5rem;
    font-size: var(--font-size-normal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-light);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);

    cursor: pointer;
}

.icon {
    margin-left: 0.5rem;
    font-size: 1.7rem;
}

.icons {
    margin-right: 0.5rem;
    font-size: 1.7rem;
}

.filterCategories {
    position: absolute;
    top: 18.6rem;
    left: -1rem;
    z-index: 6;
    transition: all ease-in-out 0.5s;
}

.filterCategoriesHide {
    position: absolute;
    top: 18.6rem;
    left: -14rem;
    z-index: 6;
    transition: all ease-in-out 0.5s;
}

.categoriesFixed {
    position: fixed;
    box-shadow: var(--box-shadow-medium);
    background-color: var(--color-white);
    min-width: 12rem;
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);

}

.listCategories {
    list-style: none;
    /* border: 0.2rem solid teal; */
}

.listFilter {
    padding: 0.5rem 0.8rem;
    margin: 0.3rem 0;
    font-size: var(--font-size-normal);
    color: var(--color-primary);

    cursor: pointer;
}

.listFilter:first-child {
    border-top-right-radius: var(--border-radius-small);
    margin: 0;
}

.listFilter:last-child {
    border-bottom-right-radius: var(--border-radius-small);
    margin: 0;
}

.listFilterActive {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}