.Login {
    background-image: linear-gradient(to right bottom, rgba(var(--color-secondary), 0.2), rgba(var(--color-secondary-light), 0.3), rgba(var(--color-secondary-medium), 0.6)), url(../../res/img/cups-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}