

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 27rem;
    height: 3.4rem;
    padding-left: 1rem;
    /* margin-right: ; */
    border-radius: var(--border-radius-small);
    background-color: var(--transparent-1);
    box-shadow: var(--box-shadow-light);
}


.searchContainerInput {
    outline: none;
    border: none;
    width: 22rem;
    padding-left: 0.65rem;
    font-size: 1.3rem;
    color: #5c5c5c;
    border-radius: 0.4rem;
    margin-left: 0.8rem;
    background: none;
    /* border: 1px solid red; */
    transform: all ease-in 0.2s;
}

.searchContainerInput:focus {
    width: 30rem;
}

.searchIcon {
    font-size: 1.7rem;
    line-height: 0.5rem;
    color: var(--color-primary);
    /* border: 1px solid red; */
}