.btn {
    transition: all .4s ease-in-out;
    color: var(--color-primary);
    padding: 1.2rem 3.5rem;
    border: none;
    margin: 0 .5rem;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius-larger);
    margin-right: auto;
    align-self: flex-start;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1rem 3.5rem;
}

.btn:hover {
    box-shadow: var(--box-shadow-heavy);
}

.btn:active {
    box-shadow: var(--box-shadow-heavy);
}