.pastryDetail {
    flex: 1;
    display: flex;
    padding: 0 1rem;
    overflow-y: auto;
    align-items: center;
    position: relative;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: center;
}

.pastryNoDetail {
    display: none;
}

.pastryDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.pastryDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-secondary), 0.8);
    border-radius: var(--border-radius-large);
}

.pastryDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}

.pastryDetailImgContainer {
    width: 90%;
    display: flex;
    border-radius: var(--border-radius-small);
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--box-shadow-medium);
    position: relative;
}

.pastryDetailImg {
    height: 25rem;
    width: 100%;
    margin: 0;
}

.pastryDetailImgLogoContainer {
    position: absolute;
    background-color: var(--color-white);
    bottom: 5.3rem;
    right: 0.3rem;
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-medium);
}

.pastryDetailImgLogo {
    height: 4.5rem;
    /* width: 6rem; */
}

.pastryDetailTitle {
    margin: 1.2rem 0;
    background-color: var(--color-white);
    text-align: center;
}

.pastryDetails {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pastryDescription {
    margin-top: 0.6rem;
    text-align: left;
}

.pastryDescriptionList {
    margin-left: 2.3rem;
}

.pastryDescriptionText {
    text-align: left;
    font-size: 1.2rem;
}

.pastryDetailActions {
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
}

.pastryDetailActionButton {
    outline: none;
    height: 3rem;
    width: 3rem;
    border-radius: var(--border-radius-round);
    color: var(--color-primary);
    font-size: var(--font-size-small);
    border: 0.2rem solid var(--color-primary);
    background-color: var(--color-white);
    text-align: center;
    box-shadow: 0 0 0rem 'transplant';
    transition: box-shadow ease-in 0.2s, transform ease-in-out 0.3s;
    cursor: pointer;
}

.pastryDetailButton {
    outline: none;
    background-color: var(--color-white);
    border: none;
    padding: 1rem 3rem;
    font-size: var(--font-size-small);
    height: 3rem;
    color: var(--color-primary);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    transition: all ease-in 0.3s;
}

.pastryDetailButton:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--box-shadow-medium);
}

.pastryDetailActionButton:hover {
    box-shadow: var(--box-shadow-medium);
}

.pastryDetailActionButton:active {
    transform: translateY(0.2rem);
    box-shadow: var(--box-shadow-medium);

}

.pastryDetailQtyText {
    font-size: var(--font-size-normal);
}

.pastryMessage {
    outline: none;
    padding: 0.8rem;
    border: 0.1rem solid var(--color-grey-light-4);
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius-small);
    transition: border ease-in 0.4s;
}

.pastryMessage:focus {
    border: 0.1rem solid var(--color-grey-light-4);
}