.navi {
    position: fixed;
    top: 2.3rem;
    right: 7rem;
    transition: all .5s ease;
    z-index: 5000;
}

@media only screen and (max-width: 25.75em) {
    .navi {
        right: 4rem;
    }
}

.navi__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.7);
    z-index: 100;
    position: fixed;
    cursor: pointer;
}

.navi__list {
    position: relative;
    z-index: 90;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    text-align: center;
    left: 3.3rem;
}

.navi__item {
    position: absolute;
    text-align: center;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.navi__item--1 {
    transition: all .35s ease-in-out;
}

.navi__item--2 {
    transition: all .45s ease-in-out;
}

.navi__item--3 {
    transition: all .55s ease-in-out;
}

.navi__item--4 {
    transition: all .65s ease-in-out;
}

.navi__link {
    text-decoration: none;
    font-size: 2.2rem;
    padding: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: #c71585;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    transform: scale(0.8);
    transition: all .3s;
}

.navi__link:link,
.navi__link:visited {
    color: #c71585;
}

.navi__link:hover,
.navi__link:active {
    transform: scale(1);
}

.navi__button:hover .navi__icon::after {
    top: -.8rem;
}

@media only screen and (max-width: 25.75em) {
    .navi__button:hover .navi__icon::after {
        top: -.7rem;
    }
}

.navi__button:hover .navi__icon::before {
    top: 1.1rem;
}

@media only screen and (max-width: 75em) {
    .navi__button:hover .navi__icon::before {
        top: 1.1rem;
    }
}

.navi__checkbox {
    display: none;
}

.navi__icon,
.navi__icon::after,
.navi__icon::before {
    background-color: #c71585;
    width: 3rem;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navi__icon::after,
.navi__icon::before {
    content: "";
    transition: all .3s ease-in-out;
}

.navi__icon::after {
    top: -.6rem;
}

@media only screen and (max-width: 25.75em) {
    .navi__icon::after {
        top: -.5rem;
    }
}

.navi__icon::before {
    top: .9rem;
}

@media only screen and (max-width: 75em) {
    .navi__icon::before {
        top: .9rem;
    }
}

@media (max-width: 56.25em) {
    .navi__icon::before {
        top: 1rem;
    }
}

.navi__checkbox:checked+.navi__button .navi__icon::after {
    top: 0;
    transform: translate(-50%, -50%) rotate(-225deg);
}

.navi__checkbox:checked+.navi__button .navi__icon::before {
    top: 0;
    transform: translate(-50%, -50%) rotate(225deg);
}

.navi__checkbox:checked+.navi__button .navi__icon {
    background-color: transparent;
}

.navi__checkbox:checked~.navi__list .navi__item--1 {
    margin-top: 9rem;
    opacity: 1;
    visibility: visible;
}

.navi__checkbox:checked~.navi__list .navi__item--2 {
    margin-top: 18rem;
    opacity: 1;
    visibility: visible;
}

.navi__checkbox:checked~.navi__list .navi__item--3 {
    margin-top: 27rem;
    opacity: 1;
    visibility: visible;
}

.navi__checkbox:checked~.navi__list .navi__item--4 {
    margin-top: 36rem;
    opacity: 1;
    visibility: visible;
}

.navi__hidden {
    position: fixed;
    top: 4.5rem;
    right: -10rem;
    transition: all .5s ease;
    z-index: 30;
}

@media only screen and (max-width: 75em) {
    .navi__hidden {
        right: 3rem;
    }
}

.navi__active {
    background-color: #c71585;
    color: #fff !important;
}
