.header {
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 88.5vh, 50% 100%, 0 88.5vh);
    background-image: linear-gradient(to right bottom, rgba(var(--color-secondary-light), 0.345), rgba(var(--color-secondary-medium), 0.4)), url(../../res/img/cups-2.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 56.25em) {
    .header {
        height: 85vh;
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh);
    }
}

@media only screen and (max-width: 37.5em) {
    .header {
        height: 75vh;
        clip-path: polygon(0 0, 100% 0, 100% 72vh, 50% 100%, 0 72vh);
    }
}

@media only screen and (max-width: 25.75em) {
    .header {
        height: 65vh;
        clip-path: polygon(0 0, 100% 0, 100% 62.8vh, 50% 100%, 0 62.8vh);
    }
}

.headerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 75em) {
    .headerContainer{
        top: 50%;
    }
}

@media (max-width: 56.25em) {
    .headerContainer{
        top: 51%;
    }
}

@media only screen and (max-width: 37.5em) {
    .headerContainer{
        top: 52%;
    }
}

.title {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 7rem;
}

.mainTitle {
    display: block;
    letter-spacing: 2rem;
    font-size: 6.5rem;
    font-weight: 400;
    animation: moveInTop 1s ease-in-out .5s backwards;
}

@media only screen and (max-width: 75em) {
    .mainTitle {
        letter-spacing: 1.7rem;
        font-size: 5.8rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .mainTitle {
        letter-spacing: 1.4rem;
        font-size: 5.6rem;
    }
}

@media (max-width: 50em) {
    .mainTitle {
        letter-spacing: .6rem;
        font-size: 4.7rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .mainTitle {
        letter-spacing: .4rem;
        font-size: 3.9rem;
    }
}

@media only screen and (max-width: 25.75em) {
    .mainTitle {
        letter-spacing: .4rem;
        font-size: 3.5rem;
    }
}

.subTitle {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.1rem;
    font-weight: 700;
    animation: moveInBottom 1s ease-in-out .5s backwards;
}

@media only screen and (max-width: 75em) {
    .subTitle {
        letter-spacing: .8rem;
    }
}

@media only screen and (max-width: 75em) {
    .subTitle {
        letter-spacing: .5rem;
    }
}

@media (max-width: 50em) {
    .subTitle {
        letter-spacing: .28rem;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .subTitle {
        letter-spacing: .3rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 25.75em) {
    .subTitle {
        letter-spacing: .18rem;
        font-size: 1.3rem;
    }
}

@keyframes moveInTop {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    70% {
        transform: translateY(1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}