.header {
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 88.5vh, 50% 100%, 0 88.5vh);
    background-image: var(--linear-gradient-1), url(../../res/img/cups-2.jpg);
    background-size: cover;
    background-position: center;
}

.headerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    color: var(--color-white);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6.5rem;
}

.mainTitle {
    display: block;
    letter-spacing: .4rem;
    font-size: 5rem;
    font-weight: 400;
    animation: moveInTop 1s ease-in-out .5s backwards;
}


.subTitle {
    display: block;
    font-size: var(--font-size-big);
    letter-spacing: 0.95rem;
    font-weight: 700;
    font-size: var(--font-size-large);
    animation: moveInBottom 1s ease-in-out .5s backwards;
}

.actionContainer {
    display: flex;
    justify-content: center;
}

@keyframes moveInTop {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    70% {
        transform: translateY(1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 75em) {
    .headerContainer {
        top: 50%;
    }

    .mainTitle {
        font-size: 4rem;
    }

    .subTitle {
        letter-spacing: 0.57rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .mainTitle {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .header {
        height: 85vh;
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh);
    }

    .headerContainer {
        top: 51%;
    }
}

@media only screen and (max-width: 48em) {
    .headerContainer {
        width: 100%;
    }

    .mainTitle {
        font-size: 3.7rem;
    }

    .subTitle {
        letter-spacing: 0.49rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .header {
        height: 75vh;
        clip-path: polygon(0 0, 100% 0, 100% 72vh, 50% 100%, 0 72vh);
    }

    .headerContainer {
        top: 52%;
    }

    .subTitle {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 27em) {
    .header {
        height: 65vh;
        clip-path: polygon(0 0, 100% 0, 100% 62.8vh, 50% 100%, 0 62.8vh);
    }

    .mainTitle {
        font-size: 2.9rem;
    }

    .subTitle {
        font-size: 1.38rem;
    }
}


/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */