.datePicker__input {
    width: 85%;
    font-size: 1.6rem;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    border: none;
    padding: 1.1rem 1.9rem;
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    transition: all .3s;
    border-radius: 0.4rem;
    cursor: pointer;
    border-bottom: 3px solid #c71585;
}

@media only screen and (max-width: 37.5em) {
    .datePicker__input {
        clip-path: none;
        width: 95%;
    }
}

.datePicker__input:focus {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 0.4rem;
    border-bottom: 3px solid #c71585;
}

.datePicker__input:focus:invalid {
    border-radius: 0.4rem;
    border-bottom: 3px solid #8b4513;
}

.datePicker__input::-webkit-input-placeholder {
    color: #777;
}


.datePicker__length-3 {
    width: 31rem;
}