.datePickerInput {
    width: 85%;
    font-size: var(--font-size-normal);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    border: none;
    padding: 1.1rem 1.9rem;
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    margin-bottom: 2.5rem;
    transition: all .3s;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    border-bottom: 0.3rem solid var(--color-primary)
}

@media only screen and (max-width: 37.5em) {
    .datePickerInput {
        clip-path: none;
        width: 95%;
    }
}

.datePickerInput:focus {
    box-shadow: var(--box-shadow-medium);
    border-radius: var(--border-radius-small);
    border-bottom: 0.3rem solid var(--color-primary)
}

.datePickerInput:focus:invalid {
    border-radius: var(--border-radius-small);
    border-bottom: 0.3rem solid var(--color-primary-light);
}

.datePickerInput::-webkit-input-placeholder {
    color: var(--color-grey-dark-2);
}


.datePickerLength {
    width: 31rem;
}