.secSample {
    background-color: transparent;
    padding: 18rem 0 12rem 0;
    margin-top: -21.5vh;
}

.secTitle {
    font-size: var(--font-size-big);
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    margin: 4rem 0;
    text-align: center;
}


.sampleRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 5rem;
    justify-content: center;
    align-items: center;
}

.secSide {
    flex: 0 0 calc((100% - (2 * 4rem)) / 3);
}

@media only screen and (max-width: 67.5em) {
    .secSample {
        padding-bottom: 18rem;
    }

    .secSide {
        flex: 0 0 33.33%;
    }
}

@media only screen and (max-width: 56.25em) {
    .secSample {
        padding-bottom: 11rem;
    }
}

@media only screen and (max-width: 48em) {
    .secSample {
        margin-top: -15rem;
        /* padding-bottom: 20rem; */
    }

    .secTitle {
        font-size: 3.2rem;
    }

}

@media only screen and (max-width: 37.5em) {
    .secSample {
        margin-top: -10rem;
        padding-bottom: 15rem;
    }
}

@media only screen and (max-width: 27em) {
    .secSample {
        margin-top: -16rem;
        padding-bottom: 15rem;
    }

    .secTitle {
        font-size: 2.6rem;
    }

    .sampleRow {
        margin: 0 1.7rem;
        flex-direction: column;
    }

    .secSide {
        width: 90%;
    }
}


/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */