.bakerContainer {
    width: 28rem;
    text-align: center;
    height: 35rem !important;
    margin: 1rem 1.5rem;
    position: relative;
}

.bakerInfo {
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow-medium);
    padding: 1rem .9rem;
    -moz-hyphens: auto;
    border-radius: var(--border-radius-small);
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
    position: relative;
}

.bakerInfo::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 75em) {
    .bakerInfo {
        height: 40rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .bakerInfo {
        padding: .8rem .7rem;
        height: 38rem;
    }
}

@media (max-width: 56.25em) {
    .bakerInfo {
        height: 33rem;
    }
}


@media only screen and (max-width: 37.5em) {
    .bakerInfo {
        height: 35rem;
    }
}

.bakerInfo .para abbr {
    text-decoration: none;
}

.bakerInfoPic {
    bottom: -4rem;
    padding: 1rem 0;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
}

.bakerInfoPicRound {
    width: 8rem;
    height: 8rem;
    border-radius: var(--border-radius-round);
    box-shadow: var(--box-shadow-heavy);
    overflow: hidden;
    z-index: 10;
}

.bakerInfoImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(130%);
}

.bakerInfoName {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    transform: translateX(-70%);
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 67.5em) {
    .bakerInfoName {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 56.25em),
only screen and (hover: none) {
    .bakerInfoName {
        transform: translateX(80%);
        opacity: 1;
    }
}

@media only screen and (max-width: 48em),
only screen and (hover: none) {
    .bakerInfoName {
        transform: translateX(50%);
        opacity: 1;
    }
}

@media only screen and (min-width: 67em) {
    .bakerInfo:hover .bakerInfoName {
        transform: translateX(15%);
        opacity: 1;
    }
}


.lilTitle {
    font-size: var(--font-size-large);
    background-image: linear-gradient(120deg, rgba(var(--color-secondary-medium), 0.8), rgba(var(--color-secondary), 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    font-weight: var(--font-weight-medium);
    padding: 2rem 0;
    padding-bottom: 0rem;
    text-align: center;
}


@media only screen and (max-width: 67.5em) {
    .bakerContainer {
        height: 30rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .bakerInfoName {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 27em) {
    .bakerContainer {
        width: 34rem;
    }
}


/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */