.bakerContainer {
    flex: 0 0 calc((100% - (3 * 4rem)) / 4);
    text-align: center;
}

.bakerInfo {
    width: 100%;
    box-shadow: var(--box-shadow-medium);
    padding: 1rem .9rem;
    -moz-hyphens: auto;
    border-radius: var(--border-radius-small);
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
}

.bakerInfo::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 75em) {
    .bakerInfo {
        height: 40rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .bakerInfo {
        padding: .8rem .7rem;
        height: 47rem;
    }
}

@media (max-width: 56.25em) {
    .bakerInfo {
        height: 35rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .bakerInfo {
        width: 75%;
    }
}

@media only screen and (max-width: 37.5em) {
    .bakerInfo {
        height: 40rem;
    }
}

.bakerInfo .para abbr {
    text-decoration: none;
}

.bakerInfoPic {
    margin: -5rem 0;
    padding: 1rem 0;
    position: relative;
}

.bakerInfoPicRound {
    width: 8rem;
    height: 8rem;
    border-radius: var(--border-radius-round);
    box-shadow: var(--box-shadow-heavy);
    overflow: hidden;
}

.bakerInfoImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(130%);
}

.bakerInfoName {
    width: 50%;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -250%);
    transition: all .4s;
    text-align: left;
}

@media only screen and (max-width: 67.5em) {
    .bakerInfoName {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 56.25em),
only screen and (hover: none) {
    .bakerInfoName {
        transform: translate(80%, -190%);
        opacity: 1;
    }
}

@media only screen and (max-width: 37.5em) {
    .bakerInfoName {
        font-size: 1.8rem;
    }
}

.bakerInfo:hover .bakerInfoName {
    transform: translateY(-250%) translateX(-30%);
    opacity: 1;
}

@media only screen and (max-width: 75em) {
    .bakerInfo:hover .bakerInfoName {
        transform: translate(80%, -190%);
    }
}

.lilTitle {
    font-size: var(--font-size-large);
    background-image: linear-gradient(120deg, rgba(var(--color-secondary-medium), 0.8), rgba(var(--color-secondary), 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    font-weight: var(--font-weight-medium);
    padding: 2rem 0;
    text-align: center;
}