.pastryListImgContainer {
    width: 31.5rem;
    display: flex;
    height: 32.3rem;
    border-radius: 0.6rem;
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.pastryImgContainer {
    position: relative;
}

.pastryDiscount {
    position: absolute;
    background-color: var(--color-white);
    top: 0.5rem;
    width: 10rem;
    margin-left: 0.5rem;
    padding: 0.3rem 0.2rem;
    border-radius: var(--border-radius-small);
    z-index: 5;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-size-small);

}

.pastryStats {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-white);
    font-size: var(--font-size-small);
    color: var(--color-primary);
}

.pastryLikes {
    position: absolute;
    background-color: var(--color-white);
    bottom: 1.3rem;
    left: 0.7rem;
    min-width: 7.3rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius-small);
    z-index: 5;
    text-align: center;
    display: flex;
    box-shadow: var(--box-shadow-medium);
    border: 0.2rem solid var(--color-primary-light);
    align-items: center;
    color: var(--color-primary);
    font-size: var(--font-size-small);

    cursor: pointer;
}

.pastryDislikes {
    position: absolute;
    background-color: var(--color-white);
    bottom: 1.3rem;
    left: 9rem;
    min-width: 8.5rem;
    padding: 0.4rem 0.5rem;
    border: 0.2rem solid var(--color-primary-light);
    border-radius: var(--border-radius-small);
    z-index: 5;
    box-shadow: var(--box-shadow-medium);
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-size: var(--font-size-small);

    cursor: pointer;
}

.likeData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
    border: var(--border-radius-small);

    cursor: pointer;

    transition: all ease-in-out 0.5s;
}

.likeData:hover {
    box-shadow: var(--box-shadow-medium);
}

.pastryListImg {
    height: 25rem;
    width: 100%;
    margin: 0;
    border-radius: var(--border-radius-small);
}

.pastryListImgLogoContainer {
    position: absolute;
    background-color: #fff;
    bottom: 6.3rem;
    right: 0.4rem;
    padding: 0.1rem 0.7rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
}

.pastryListImgLogo {
    height: 3rem;
}

.pastryListTitle {
    margin: 1.2rem 0;
    background-color: #fff;
    text-align: center;
}

.pastriesButtonContainer {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
}

.pastryName {
    color: var(--color-primary);
}

.pastryPrice {
    font-size: 1.3rem;
}

.pastryValue {
    color: var(--color-primary);
}

@media only screen and (max-width: 27em) {
    .pastryListImgContainer {
        width: 40rem;
    }
}