.secAbout {
    background-color: var(--color-white);
    padding: 18rem 0 7rem 0;
    z-index: 30;
    margin-top: -21.5vh;
    padding-bottom: 25rem;
}

.secTitle {
    font-size: var(--font-size-big);
    background-image: linear-gradient(to right, rgba(var(--color-secondary), 0.8), rgba(var(--color-secondary-medium), 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    font-weight: var(--font-weight-medium);
    margin: 4rem 0;
    text-align: center;
}

.secContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5rem;
    flex-wrap: wrap-reverse;
}

.secSide {
    flex: 0 0 calc((100% - 4rem) / 2);
    text-align: left;
}

.subTitle {
    font-size: var(--font-size-normal);
    text-transform: uppercase;
    text-align: left;
}

.lilTitle {
    font-size: var(--font-size-large);
    background-image: linear-gradient(120deg, rgba(var(--color-secondary-medium), 0.8), rgba(var(--color-secondary), 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
    font-weight: var(--font-weight-medium);
    padding: 2rem 0;
    text-align: center;
}


.frameSizeLarge {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(to right, rgba(var(--color-secondary), 0.8), rgba(var(--color-secondary-medium), 0.6));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
}

.frameCarousel.frameCurrent {
    top: 0;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.framePic1,
.framePic2,
.framePic3,
.framePic4 {
    width: 80%;
    position: absolute;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-heavy);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    text-align: center;
}

.framePic1 {
    top: -5rem;
}

.framePic2 {
    transform: translateX(-30%);
}

.framePic3 {
    top: 5rem;
}

.framePic4 {
    transform: translateX(-70%);
}

.frame {
    display: inline-block;
    width: 100%;
    position: relative;
}


@media only screen and (max-width: 75em) {
    .secAbout {
        margin-top: -12rem;
        padding-bottom: 6rem;
    }
}

@media only screen and (max-width: 67.5em) {
    .secAbout {
        padding-bottom: 18rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .secAbout {
        padding-bottom: 11rem;
    }

    .framePic1,
    .framePic2,
    .framePic3,
    .framePic4 {
        width: 90%;
    }

    .frame {
        display: block;
        margin-bottom: 29rem;
    }
}

@media only screen and (max-width: 48em) {
    .secAbout {
        margin-top: -15rem;
    }

    .secTitle {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .secAbout {
        margin-top: -10rem;
        padding-bottom: 15rem;
    }

    .secContainer {
        flex-direction: column;
    }

    .secSide:first-child {
        margin-bottom: 5rem;
    }

    .framePic1,
    .framePic2,
    .framePic3,
    .framePic4 {
        width: 70%;
    }
}

@media only screen and (max-width: 27em) {
    .secAbout {
        margin-top: -16rem;
        padding-bottom: 15rem;
    }

    .secTitle {
        font-size: 2.6rem;
    }

    .secSide:last-child {
        margin: 0 -1.3rem;
    }

    .framePic1,
    .framePic2,
    .framePic3,
    .framePic4 {
        width: 90%;
        left: 56%;
    }

    .frame {
        display: block;
        width: 90%;
    }
}

/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */