.eventListDetail {
    flex: 0 0 65%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    position: relative;
}

.eventList {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    transition: all ease-in 0.3s;
    position: relative;
}

.eventList::-webkit-scrollbar,
.eventListDetail::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;
    border-radius: var(--border-radius-large);
}

.eventList::-webkit-scrollbar-thumb,
.eventListDetail::-webkit-scrollbar-thumb {
    width: .4rem;
    background-color: rgba(var(--color-secondary-medium), 0.8);
    border-radius: var(--border-radius-large);
}

.eventList::-webkit-scrollbar-track,
.eventListDetail::-webkit-scrollbar-track {
    background-color: var(--color-grey-light-3);
    margin: 18rem 0;
}