.bakerListImgContainer {
    width: 31.5rem;
    display: flex;
    height: 47rem;
    padding: 0.8rem;
    border-radius: var(--border-radius-small);
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
    box-shadow: var(--box-shadow-medium);
    position: relative;
}

.bakerListImg {
    height: 40rem;
    width: 100%;
    border-radius: var(--border-radius-small);
    margin: 0;
}

.bakerListImgLogoContainer {
    position: absolute;
    background-color: var(--color-white);
    bottom: 6.9rem;
    right: 1.5rem;
    height: 3.5rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-medium);
}

.bakerListImgLogo {
    height: 3.5rem;
    border-radius: var(--border-radius-small);
}

.bakerListTitle {
    background-color: var(--color-white);
    text-align: center;
}

.bakersButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
}

.bakerDiscount {
    position: absolute;
    background-color: var(--color-white);
    top: 1.3rem;
    min-width: 10rem;
    right: 1.5rem;
    padding: 0.3rem 0.2rem;
    border-radius: var(--border-radius-small);
    z-index: 5;
    text-align: center;
    color: var(--color-primary);
    box-shadow: var(--box-shadow-light);
    font-size: var(--font-size-small);

    cursor: pointer;
}

.bakerLikes {
    position: absolute;
    background-color: var(--color-white);
    bottom: 6.9rem;
    left: 1.3rem;
    min-width: 7.3rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius-small);
    z-index: 5;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    box-shadow: var(--box-shadow-light);
    font-size: var(--font-size-small);

    cursor: pointer;
}

.bakerDislikes {
    position: absolute;
    background-color: var(--color-white);
    bottom: 6.9rem;
    left: 9.6rem;
    min-width: 8.5rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius-small);
    z-index: 5;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    box-shadow: var(--box-shadow-light);
    font-size: var(--font-size-small);

    cursor: pointer;
}

.icon {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 67.5em) {
    .bakerListImgContainer {
        width: 28rem;
    }

    .bakerListImg {
        width: 28rem;
    }
}

@media only screen and (max-width: 48em) {
    .bakerListImgContainer {
        width: 32rem;
    }

    .bakerListImg {
        width: 32rem;
    }
}

@media only screen and (max-width: 27em) {
    .bakerListImgContainer {
        width: 38rem;
        margin: 1.4rem;
        height: 55rem;
    }

    .bakerListImg {
        width: 38rem;
        height: 45rem;
    }
}

/* @media only screen and (max-width: 75em) {}

@media only screen and (max-width: 67.5em) {}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 48em) {}

@media only screen and (max-width: 37.5em) {}

@media only screen and (max-width: 27em) {} */