.bakerListImgContainer {
    width: 31.5rem;
    display: flex;
    height: 35rem;
    border-radius: 0.6rem;
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.bakerListImg {
    height: 25rem;
    width: 100%;
    margin: 0;
}

.bakerListImgLogoContainer {
    position: absolute;
    background-color: #fff;
    bottom: 5.4rem;
    right: 0.3rem;
    padding: 0.1rem 0.7rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
}

.bakerListImgLogo {
    height: 3rem;
    /* width: 6rem; */
}

.bakerListTitle {
    margin: 1.2rem 0;
    background-color: #fff;
    text-align: center;
}

.bakersButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.8rem 0;
}
