.bakerListImgContainer {
    width: 31.5rem;
    display: flex;
    height: 36rem;
    border-radius: var(--border-radius-small);
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
    box-shadow: var(--box-shadow-medium);
    position: relative;
}

.bakerListImg {
    height: 25rem;
    width: 100%;
    margin: 0;
}

.bakerListImgLogoContainer {
    position: absolute;
    background-color: var(--color-white);
    bottom: 6.5rem;
    right: 0.5rem;
    height: 3.5rem;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-medium);
}

.bakerListImgLogo {
    height: 3.5rem;
    border-radius: var(--border-radius-small);
}

.bakerListTitle {
    margin: 1.2rem 0;
    background-color: var(--color-white);
    text-align: center;
}

.bakersButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.8rem 0;
}