.createButton {
    outline: none;
    border: none;
    background-color: #ff1493;
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: 10;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.2rem solid transparent;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.4s;
}

.createButtonIcon {
    font-size: 1.6rem;
    color: #fff;
    transition: all ease 0.3s;
}

.createButton:hover {
    box-shadow:0 1rem 3rem rgba(202, 202, 202, 0.904);
    background-color: rgba(255, 255, 255, 0.63);
    border: 0.2rem solid #ff1493;
}
.createButton:hover .createButtonIcon {
    color: #ff1493cc;
}