.createButton {
    outline: none;
    border: none;
    background-color: var(--color-primary);
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: 10;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.2rem solid transparent;
    box-shadow: var(--box-shadow-medium);
    transition: all ease-in-out 0.4s;
}

.createButtonIcon {
    font-size: var(--font-size-normal);
    color: var(--color-white);
    transition: all ease 0.3s;
}

.createButton:hover {
    box-shadow: var(--box-shadow-medium);
    background-color: rgba(255, 255, 255, 0.63);
    border: 0.2rem solid var(--color-primary);
}
.createButton:hover .createButtonIcon {
    color: var(--color-primary);
}