.btn {
    text-decoration: none;
    padding: 1.3rem 3.5rem;
    margin: 2rem .5rem;
    display: inline-block;
    color: var(--color-white);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    border-radius: var(--border-radius-larger);
    outline: none;
    border: none;
    background-color: var(--color-primary);
    transition: all 0.4s ease-in-out;
    position: relative;
}

.btn:visited,
.btn:link {
    text-decoration: none;
    padding: 1rem 3.5rem;
}


.btn:hover {
    transform: translateY(-0.4rem);
    box-shadow: var(--box-shadow-medium);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: var(--box-shadow-medium);
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 10rem;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    transition: all 0.4s ease-in-out;
}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
}

.btnAnimatedLeft {
    animation: moveInLeft 1s ease-in-out .8s;
    animation-fill-mode: backwards;
}

.btnAnimatedRight {
    animation: moveInRight 1s ease-in-out .8s;
    animation-fill-mode: backwards;
}

@keyframes moveInRight {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    70% {
        transform: translateX(-1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    70% {
        transform: translateX(1.5rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}
