.cartListDetail {
    flex: 0 0 65%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    position: relative;
}

.cartList {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 1rem;
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
    transition: flex-basis ease-in 0.3s;
    position: relative;
}

.cartList::-webkit-scrollbar,
.cartListDetail::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent;
    border-radius: 2rem;
}

.cartList::-webkit-scrollbar-thumb,
.cartListDetail::-webkit-scrollbar-thumb {
    width: .2rem;
    background-color: #ff1493cc;
    border-radius: 2rem;
}

.cartList::-webkit-scrollbar-track,
.cartListDetail::-webkit-scrollbar-track {
    background-color: #ddd;
    margin: 18rem 0;
    width: 0.2rem;
}